APP_NAME="API Integrazione UGOV WSACPersonaFisica"
APP_DESC="API di integrazione dei service SOAP WSACPersonaFisica di UGOV"
APP_VERSION=""
BASE_URL_WS=""
JWT_SECRET=""
JWT_ALG="HS256"
JWT_EXPIRE_MINUTE=0